//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 12 17:49:08 2017
//! **************************************************************************

SCHEMATIC START;
COMP "U30_Q3_K2_7_P105" LOCATE = SITE "P105" LEVEL 1;
COMP "BATH1_K1_1_P125" LOCATE = SITE "P125" LEVEL 1;
COMP "BAHT10_K1_5_P123" LOCATE = SITE "P123" LEVEL 1;
COMP "U31_Q0_K4_1_P99" LOCATE = SITE "P99" LEVEL 1;
COMP "DS_U30_K1_7_P122" LOCATE = SITE "P122" LEVEL 1;
COMP "U31_Q7_K4_15_P90" LOCATE = SITE "P90" LEVEL 1;
COMP "U30_Q2_K2_5_P107" LOCATE = SITE "P107" LEVEL 1;
COMP "U31_Q3_K4_7_P96" LOCATE = SITE "P96" LEVEL 1;
COMP "U31_Q5_K4_11_P93" LOCATE = SITE "P93" LEVEL 1;
COMP "U30_Q7_K2_15_P00" LOCATE = SITE "P100" LEVEL 1;
COMP "U19_Q2_K6_5_77" LOCATE = SITE "P77" LEVEL 1;
COMP "U30_Q6_K2_13_P102" LOCATE = SITE "P102" LEVEL 1;
COMP "U30_Q1_K2_3_P108" LOCATE = SITE "P108" LEVEL 1;
COMP "U30_Q5_K2_11_P103" LOCATE = SITE "P103" LEVEL 1;
COMP "U31_Q1_K4_3_P98" LOCATE = SITE "P98" LEVEL 1;
COMP "U19_Q0_K6_1_P79" LOCATE = SITE "P79" LEVEL 1;
COMP "U31_Q4_K4_9_P95" LOCATE = SITE "P95" LEVEL 1;
COMP "U30_Q0_K2_1_P112" LOCATE = SITE "P112" LEVEL 1;
COMP "U25B_K1_9_P119" LOCATE = SITE "P119" LEVEL 1;
COMP "U19_Q3_K6_7_P76" LOCATE = SITE "P76" LEVEL 1;
COMP "U31_Q6_K4_13_P92" LOCATE = SITE "P92" LEVEL 1;
COMP "U30_Q4_K2_9_P104" LOCATE = SITE "P104" LEVEL 1;
COMP "U31_Q2_K4_5_P97" LOCATE = SITE "P97" LEVEL 1;
COMP "BAHT5_K1_3_P124" LOCATE = SITE "P124" LEVEL 1;
COMP "U19_Q1_K6_3_P78" LOCATE = SITE "P78" LEVEL 1;
SCHEMATIC END;

