//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 12 13:28:34 2017
//! **************************************************************************

SCHEMATIC START;
COMP "LED_P36" LOCATE = SITE "P36" LEVEL 1;
COMP "S_P15" LOCATE = SITE "P15" LEVEL 1;
COMP "PRESET_18" LOCATE = SITE "P18" LEVEL 1;
COMP "CLEAR_P20" LOCATE = SITE "P20" LEVEL 1;
COMP "CLK_K4_3_P87" LOCATE = SITE "P87" LEVEL 1;
COMP "P25" LOCATE = SITE "P25" LEVEL 1;
COMP "P89" LOCATE = SITE "P89" LEVEL 1;
COMP "LED_P40" LOCATE = SITE "P40" LEVEL 1;
SCHEMATIC END;

