//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 12 08:35:29 2017
//! **************************************************************************

SCHEMATIC START;
COMP "LED_P33" LOCATE = SITE "P33" LEVEL 1;
COMP "LED_P26" LOCATE = SITE "P26" LEVEL 1;
COMP "LED_P35" LOCATE = SITE "P35" LEVEL 1;
COMP "LED_P27" LOCATE = SITE "P27" LEVEL 1;
COMP "LED_P28" LOCATE = SITE "P28" LEVEL 1;
COMP "K2_13_102" LOCATE = SITE "P102" LEVEL 1;
COMP "XLXN_45" LOCATE = SITE "P99" LEVEL 1;
COMP "K2_5_P107" LOCATE = SITE "P107" LEVEL 1;
COMP "XLXN_47" LOCATE = SITE "P36" LEVEL 1;
COMP "K2_7_105" LOCATE = SITE "P105" LEVEL 1;
COMP "K2_9_P104" LOCATE = SITE "P104" LEVEL 1;
COMP "K2_3_P108" LOCATE = SITE "P108" LEVEL 1;
COMP "K2_11_P103" LOCATE = SITE "P103" LEVEL 1;
COMP "K2_15_P100" LOCATE = SITE "P100" LEVEL 1;
COMP "LED_P30" LOCATE = SITE "P30" LEVEL 1;
COMP "LED_P31" LOCATE = SITE "P31" LEVEL 1;
COMP "K2_1_P112" LOCATE = SITE "P122" LEVEL 1;
COMP "LED_P32" LOCATE = SITE "P32" LEVEL 1;
SCHEMATIC END;

