
# PlanAhead Generated physical constraints 

NET "BAHT5_K1_3_P124" LOC = P124;
NET "BAHT10_K1_5_P123" LOC = P123;
NET "BATH1_K1_1_P125" LOC = P125;
NET "CLEAR_P20" LOC = P20;
NET "CLK_K4_3_P87" LOC = P87;
NET "LED_P36" LOC = P36;
NET "LED_P40" LOC = P40;
NET "P25" LOC = P25;
NET "P89" LOC = P89;
NET "PRESET_18" LOC = P18;
NET "S_P15" LOC = P15;
