

NET "P108" LOC = P108;
NET "SW_P25" LOC = P25;

# PlanAhead Generated physical constraints 

NET "K2_1_P112" LOC = P112;
NET "K2_3_P108" LOC = P108;
NET "K2_5_P107" LOC = P107;
NET "K2_7_105" LOC = P105;
NET "K2_9_P104" LOC = P104;
NET "K2_11_P103" LOC = P103;
NET "K2_13_102" LOC = P102;
NET "K2_15_P100" LOC = P100;
NET "LED_P26" LOC = P26;
NET "LED_P27" LOC = P27;
NET "LED_P28" LOC = P28;
NET "LED_P30" LOC = P30;
NET "LED_P32" LOC = P32;
NET "LED_P33" LOC = P33;
NET "LED_P35" LOC = P35;
NET "LED_P31" LOC = P31;
